.about-us--home {}

.work-shops-container {
    padding: 40px 0;
    width: 100%;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.537), black);
        z-index: 0;
    }

    .content-wrap {
        position: relative;
        z-index: 1;
    }

    .work-shop-cards-wrapper {
        display: flex;
        gap: 10px;
        border-bottom-right-radius: 12px;
        padding-bottom: 20px;
        overflow-x: auto;
        overflow-y: hidden;



        &::-webkit-scrollbar {
            height: 8px;

        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.3);

            border-radius: 10px;

        }

        &::-webkit-scrollbar-track {
            background-color: rgba(255, 255, 255, 0.1);

        }

        @media screen and (max-width: 600px) {
            justify-content: start;
        }

        .work-shop-card {
            width: 250px;
            height: 480px;
            background: rgb(31, 31, 31);
            border-bottom-right-radius: 12px;
            border-top-left-radius: 12px;

            .work-shop-image {
                width: 250px;
                height: 240px;
                object-fit: cover;
                border-top-left-radius: 12px;
            }

            .card-body-work-shop {
                padding: 20px;



                .content {
                    color: white;
                    font-weight: 100;
                    font-size: 16px;
                }
            }
        }
    }
}

.why-exhibit--home {
    padding: 40px 0;

    .why-exhibit-card {
        height: 320px;
        width: 100%;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 12px;
        backdrop-filter: blur(10px) saturate(200%);
        -webkit-backdrop-filter: blur(10px) saturate(200%);
        background-color: rgba(0, 0, 0, 0.18);

        border: 1px solid rgba(255, 255, 255, 0.125);
        transition: all 0.3s ease;

        .icon {
            width: 48px;
            object-fit: contain;
        }

        .desc {
            text-align: left;
            color: white;
        }

        &:hover {
            cursor: pointer;
            -webkit-box-shadow: -1px -1px 26px 1px rgba(220, 175, 77, 1);
            -moz-box-shadow: -1px -1px 26px 1px rgba(220, 175, 77, 1);
            box-shadow: -1px -1px 26px 1px rgba(220, 175, 77, 1);
        }
    }
}

.why-visit--home {
    .desc {
        color: $light-text;
        text-align: left;
    }

    .outline-cta {
        border: 2px solid;
        border-image: $text-gradient;
        border-image-slice: 1;
        padding: 10px 20px;
        color: white;
        background: transparent;

        transition: all 0.1s ease;

        &:hover {
            background: $light-blue;
            color: black
        }
    }

    .why-visit-item {
        width: 100%;
        border: 5px solid;
        padding: 20px;

        border-image: $text-gradient;
        border-image-slice: 1;

        .heading {
            font-size: 24px;
            max-width: 300px;
            line-height: 1.2;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }


}

.exhibitor-profile-container {
    .profile-card-container {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        overflow-x: auto;
        overflow-y: hidden;


        &::-webkit-scrollbar {
            height: 8px;

        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.3);

            border-radius: 10px;

        }

        &::-webkit-scrollbar-track {
            background-color: rgba(255, 255, 255, 0.1);

        }

        @media screen and (max-width: 600px) {
            justify-content: start;
        }

        .profile-card {
            width: 280px;
            height: 400px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(to left, black, rgba(255, 255, 255, 0));
                z-index: 1;
            }

            .profile-card-image {
                width: 280px;
                height: 400px;
                object-fit: cover;
                object-position: right;
            }

            .content-wrap {
                position: absolute;
                z-index: 2;
                bottom: 20px;
                right: 20px;



                .name {
                    color: white;
                    font-size: 38px;
                    letter-spacing: 0;
                    font-weight: 900;
                    line-height: 1;
                    text-align: end;

                }

                .learn-more {
                    color: white;
                    font-size: 12px;
                }

                .arrow-icon {
                    width: 24px;
                }
            }
        }
    }
}

.cta-banner-component-wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;

    .section-heading {
        color: rgb(255, 255, 255);
    }

    .book-stand-btn-image{
        width: 200px;
    }

    .cta-button {
        background: $metalic-gold;
        color: black;
        font-weight: 600;
        height: 100px;
        width: 400px;
        text-align: center;
        font-size: 24px;
        text-transform: capitalize;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;

        box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.266);
        -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 1, 0.445);
        -moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 1, 0.445);


        @media screen and (max-width: 800px) {
            width: 235px;
            height: 60px;
            font-size: 16px;
        }
    }
}

.highlight-text {
    color: $light-blue;
    font-weight: bold;
}

.exhibitor-wrapper {
    .exhibitor-container {
        padding: 25px;
        position: relative;
        background-color: #f4f4f4;

        .partner-name {
            text-align: center;
            color: black;
            margin: 0;
            margin-top: 20px;
            height: 40px;
            overflow: hidden;
            font-weight: 600;
            line-height: 1.2;
        }

        .exhibitor-bg {
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: contain !important;
            height: 200px;
            max-width: 200px;
            margin: auto;
        }
    }
}